/*cat=1_*/gui{edit: Edit;new: New;element: Element;send: Send;current: Current;change: Change;mode: mode;private: Pure;stdrd: Standard;category: Category;remove: remove;files:Files;folders:Folders;undo: Undo;redo: Redo;addclr: Memorize color in browser cookie.;enercknm: Your current colorcollection-cookiename.;entrhex: Fill in a HEX colorcode.;sendclrtoedit: Send color to the edit-element textfield.;cssmodehelp: <u>[disabled]</u> Newline to _dotcm_ conversion_nwln_<u>[enabled]</u> Space char. removal from saved elements( = smaller filesize). Makes elements also non human readable for manual editing. Also renders elements like `bo rder: 1px solid` unusable.</u>;replwindowstip:If you want to use replace functionality on a windows server environment, then install <a href="http://win-bash.sourceforge.net/" >winbash</a> manually and install <a href="http://gnuwin32.sourceforge.net" target="_blank">gnuwin32</a> or <a href="http://www.openetwork.com/berk.html" target="_blank">the berkeley utilities</a> in your operating system environment, or just install sed (streamedit).;
find_word_string: Find string ((part of a) word);
optionally_replace_with:Optionally replace with;
create_zip:Create a .zip file;
CTRL:CTRL;
backspace:Backspace;
Structure:Structure;
Editor:Editor;
Settings:Settings;
Toolbox:Toolbox;
explore:Explore;
Root:Root;
default:Default;
up:Up;
reload_tree:Reload filesystem tree;
reload_open_structure:Reload current structure;
bookmark_open_structure:Bookmark current structure;
filename:Filename;
Location_bar:Location bar;
add_to_tinymce_css:Add to TinyMCE CSS loading;
clean_tinymce_css:Reset Tinymce CSS loading;
preview_with_cssloader:Preview with deprecated css loader.;
merge_'generated_*.css'_files_in_current_folder:Merge `generated_*.css` files in current folder;
Encode:Encode;
Import_selection:Import selection;
Import_selected_tag:Import selected tag;
New_file:New file;
save_current_as_new_element_with_selected_suffix:
Copy this element or file and add a suffix.;
translate_back_to_english_before_saving:
Translate recognized machine-language back to english, before saving. (extlink_lang);
Temporary_settings_(last_until_page_refresh):Temporary settings (remain untill performing browser refresh);
sudo_user_for_extracting_and_creating archives:Sudo username, optional for extracting archives, creating zip, Toolbox > Replace, Structure > run file in phpterm;
Find:Find;
Replace:Replace;
Configuration:Configuration;
manager:Manager;
Hotkeys:Hotkeys;
Txt_to_HTML_image_tags_converter:Text to HTML img tags converter;
Send_iframe_contents_(below)_to_editor:Send contents html (below) to the editor view;
Send_iframe_text_(below)_to_editor_(filter_out_any_HTML):
Send contents (below) to the editor view (and remove HTML code);
Send_iframe_selection_(below)_to_editor:Send iframe selection (below) to the editor view;
memory_dump:Memory dump;
New_browser_tab_with_memory_dump:New browser tab with memory dump;
New_browser_tab:New browser tab;
Detected_extension:Detected extension;
Core:Core;
Editor_core_client:Editor core-client;
overrides_above_cfg:Overrides above cfg;
handling:Handling;
saving:Saving...;
Detects_function_name_from_current _selection_within_editor_if_available:
Detects function name from current selection in edit_area;
Extract:Extract;
documentation:documentation;
local_version:Local version;
check_for_updates:Check for updates;
Online:Online;
Local:Local;
pre-translate:(Pre) translate;
About:About;
run:Run;
wwwroot:absolute local directive to web server document root (click >here< to change);
httproot: http url to web server document root;
Executeinphpterm:Execute in Toolbox > PHPterm;
phpbinary:Full path + command to run php binary.;
phpbinary:Full path + command to run zip binary.;
Generate_extension_javascript_for_current_coreclient:Generate extensions javascript library for the current core client;
no style attributes found:no style attributes found;
}
