/*cat=1_*/
fileext{ 
str:fileext;
cachable:off;
}
file{ 
str:file;
cachable:off;
}
rawfile{ 
str:rawfile;
cachable:off;
}
urlstr{ 
str:urlstr;
cachable:off;
}
www{ 
str:www;
cachable:off;
}

folder{
str:folder;
cachable:off;
}	
current_ext{ 
str:current_ext;
cachable:off;
}
ele{ 
str:ele;
cachable:off;
}